/* Light Theme Styles */
.light {
  --main-bg-color: rgba(244, 245, 248, 0.7); /* Semi-transparent white */
  --main-text-color: #000000;
  --sidebar-bg-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  --sidebar-text-color: #000000;
  /* Add more light theme styles as needed */
  backdrop-filter: blur(10px); /* Apply glass effect */
}

/* Dark Theme Styles */
.dark {
  --main-bg-color: rgba(76, 73, 73, 0.7); /* Semi-transparent dark gray */
  --main-text-color: #ffffff;
  --sidebar-bg-color: rgba(51, 51, 51, 0.7); /* Semi-transparent dark gray */
  --sidebar-text-color: #ffffff;
  backdrop-filter: blur(10px); /* Apply glass effect */
}

.main-container {
  width: 90vw;
  height: 90vh;
  display: flex;
  border-radius: 20px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.sidebar-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.chatarea-container {
  flex: 0.7;
  /* background-color: red; */
  display: flex;
  max-height: 100%;
  flex-direction: column;
  padding: 10px;
}

.time {
  display: inline-flex;
  font-size: 14px !important;
  color: red;
  font-weight: bold;
  align-items: end;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .chatarea-container {
    flex: 1;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    padding: 10px;
  }
}

.sb-header {
  background-color: white;
  border-radius: 20px;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.sb-searchBar {
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    outline: none;
    border: none;
    font-size: 1.25rem;
    margin-left: 10px;
  }
}

.sb-conversations {
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
  flex: 1;
  overflow-y: auto;
}

.conversation-container {
  display: grid;
  grid-template-columns: 32px auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
.con-icon {
  grid-area: 1/1/3/2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  font-size: 2rem;
  font-weight: bolder;
  height: 32px;
  width: 32px;
  padding: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  border-radius: 50%;
  justify-self: center;
  align-self: center;

  img {
    height: 100%;
    border-radius: 50%;
  }
}

.con-title {
  grid-area: 1/2/2/4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: var(--main-text-color);
}

.con-timeStamp {
  justify-self: flex-end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  color: black;
}

.con-latestMessage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.message-container {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto !important;
  scrollbar-width: none;
}

.chatheader-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.input-container {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;

  input {
    flex: 1;
    font-size: 1rem;
    border: none;
    outline: none;
  }
}

.message-self {
  display: flex;
  justify-content: flex-end;

  /* width: fit-content; */

  padding: 0 1rem 1rem 1rem;

  span {
    background-color: rgb(13, 146, 37);
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 20px;
  }
}

.me {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}

.other {
  display: flex;
  margin-left: 2rem;
}
.message-self sup {
  /* margin-left: auto;  */
}

.message-other {
  display: flex;

  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;

  span {
    background-color: rgb(27, 189, 248);
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 20px;
  }
}

.welcome-container {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 70%;
    width: 70%;
    object-fit: contain;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
  }
  .sb-searchBar {
    input {
      width: 100%;
    }
  }
  .sidebar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    overflow-y: auto;
    scrollbar-width: none;
  }

  /* Styles */
}

.create-group-container {
  flex: 0.7;
  align-self: center;
  padding: 10px 10px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  input {
    border: none;
    outline: none;
    font-size: 1.25rem;
  }
}

.create-group {
  padding: 10px 10px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;

  input {
    border: none;
    outline: none;
    font-size: 1.25rem;
  }
}

.login {
  display: flex;
  border-radius: 20px;
  background-color: white;
}

.user-group {
  flex: 0.7;
  background-color: greenyellow;
}

.suggestion-list {
  max-height: 400px;
  overflow-y: scroll;
  list-style: none;
  position: absolute;
  background-color: aliceblue;
  z-index: 999;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
  }
  li:hover {
    background-color: gold;
  }
}

.suggestion-list::-webkit-scrollbar {
  display: none;
}

.start-adornment {
  display: flex;
  flex-wrap: wrap;
}

.unique-textfield .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  width: auto !important; /* Override width */
}
.date-header {
  text-align: center;
}
